*{
    margin: 0;
    padding: 0;
}
nav{
    width: 1500px;
    max-width: 100%;
    margin: 0 auto;
    padding: 1% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(247, 243, 243, 0.664);
}

.image{
    width: 70px;
    margin-left: 40px;
}

.list_web{
    display: flex;
    margin-right: 40px;
}

nav .list_web .item_web{
    list-style: none;
    font-style: none;
    font-size: 1.2em;
}

.item_web a{
    text-decoration: none;
    margin: 0 10px;
    padding: .5em 1.2em;
    border-radius: .5em;
    color: white;
    background-color: #1565C0;
}

/* ======= MENU Mobile =======*/
.menu_mobile{
    position: relative;
    display: none;
}
.menu{
    position: absolute;
    top: 30px;
    right: 0;
    background-color: rgb(230, 230, 232);
    width: 10em;
    margin-right: 20px;
    padding: 1em 0;
}

.menuIcon{
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
}

.item_mobile{
    list-style: none;
    font-style: none;
    margin: .8em 0;
    background-color: #1565C0;
    margin: 0;
    padding: 5px 0 5px 5px;
    margin-top: 1px;
}

.item_mobile a{
    color: white;
    text-decoration: none;
}

.item_mobile:hover{
    background-color: #4f88c8;
    transition: .3s;
}

/* ======= Responsive ======= */

@media(max-width:760px){
    nav .list_web .item_web{
        font-size: 1em;
    }

    .menu{
        display: block;
    }
}

@media(max-width:570px){
    .menu_web{
        display: none;
    }

    .menu_mobile{
        display: block;
    }
}